{% extends 'base.html' %}
{% load static %}
{% block title %} signup {% endblock %}
{% block content %}
<div class="search-form-wrapper">
    <div class="search-trigger sigma_close">
        <span></span>
        <span></span>
    </div>
    <form class="search-form" method="post">
        <input type="text" placeholder="Search..." value="">
        <button type="submit" class="search-btn">
            <i class="fal fa-search m-0"></i>
        </button>
    </form>
</div>
<!--header End-->
</div>
<!--subheader Start-->
<div id="section-subheader">
    <div class="sigma_subheader style-9 bg-cover bg-center"
         style="background-image: url({% static 'assets/img/signup/1920x800.jpg' %})">
        <div class="container">
            <div class="sigma_subheader-inner">
                <h1>Signup</h1>
            </div>
        </div>
    </div>
    <!--subheader End-->
</div>
<!--preloader Start-->
<div id="section-preloader">
    <div class="sigma_preloader sigma_preloader-default">
        <div class="sigma_preloader-inner">
            <i></i><i></i><i></i><i></i>
        </div>
    </div>
    <!--preloader End-->
</div>
<!--popup Start-->
<div id="section-popup">
    <div class="modal fade" id="sigma_popup-newsletter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog sigma_newsletter-popup-modal style-4 modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body dark-overlay bg-cover bg-center"
                     style="background-image: url({% static 'assets/img/signup/600x428.jpg' %})">
                    <div class="sigma_close light newsletter-popup-trigger" data-dismiss="modal">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="sigma_newsletter-popup-text-wrapper">
                        <h3 class="text-white">Join Our Newsletter</h3>
                        <p>Get the latest offers and exclusive deals, styles and competitions!</p>
                    </div>
                    <form method="post" class="text-center">
                        <div class="form-group">
                            <input type="email" placeholder="Email Address" class="form-control" name="newsletter-email"
                                   value="">
                        </div>
                        <button type="submit" name="button">Subscribe</button>
                        <span class="sigma_newsletter-popup-dismiss newsletter-popup-trigger" data-dismiss="modal">Don't show again</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--popup End-->
</div>
<!--signup Start-->
<div id="section-signup">
    <div class="section">
        <div class="container">
            <div class="section-title centered">
                <h3 class="title">Sign <span class="primary-color">Up</span>
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="sigma_form has-shadow style-2">


                        <form action="/signup/" method="post">
                            {% csrf_token %}

                            <form method="post">
                                {% csrf_token %}

                                <div class="form-group">
                                    <i class="fal fa-user"></i>
                                    <input type="text" name="username" id="username" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <i class="fal fa-user"></i>
                                    <input type="text" name="fname" id="fname" placeholder="First name" required>
                                </div>
                                <div class="form-group">
                                    <i class="fal fa-user"></i>
                                    <input type="text" name="lname" id="lname" placeholder="Last Name" required>
                                </div>
                                <div class="form-group">
                                    <i class="fal fa-envelope"></i>
                                    <input type="email" name="email" placeholder="Email" required>
                                </div>
                                <div class="sigma_form-info justify-content-start">
                                    {% for gender in genders %}
                                    <div class="d-flex align-items-center {% if not forloop.first %}ml-4{% endif %}">
                                        <input
                                                type="radio"
                                                id="gender_{{ forloop.counter }}"
                                                name="gender"
                                                value="{{ gender }}"
                                                required
                                        >
                                        <label class="mb-0 ml-1" for="gender_{{ forloop.counter }}">
                                            {{ gender }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <div class="input-group">

                                        <input type="tel"
                                               name="phone"
                                               class="form-control"
                                               placeholder="Enter phone number"
                                               maxlength="10"
                                               pattern="[0-9]{10}"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <i class="fal fa-map-marker-alt"></i>
                                    <input type="text" name="city" placeholder="City" required>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="date" class="form-control" name="birthday">
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <i class="fal fa-eye password-toggle show-password"></i>
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <i class="fal fa-eye password-toggle show-password"></i>
                                        <input type="password" name="cpassword" placeholder="Confirm Password">
                                    </div>
                                    <div class="sigma_buttons text-center">
                                        <button type="button" class="light">
                                            Cancel
                                        </button>
                                        <button type="submit">
                                            Register
                                        </button>
                                    </div>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--signup End-->
</div>
<!--to-top Start-->
<div id="section-to-top">
    <div class="sigma_top">
        <i class="far fa-arrow-up"></i>
    </div>
    <!--to-top End-->
</div>
{% endblock %}